
.experience-container {
    width: 100%;
    aspect-ratio: 4/1;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 6px;
}

.experience-header {
    padding: 1rem;
    font-weight: 700;
}

.scrollable-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
}

:host ::ng-deep .custom-panel .p-panel-header {
    padding: 0.4rem; /* Reduce el padding del header */
    margin-bottom: 4px;
  }
  
  :host ::ng-deep .custom-panel .p-panel-content {
    padding: 0.4rem; /* Reduce el padding del contenido */
  }