.grid-padding {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura que los elementos se distribuyan con espacio entre ellos */
    padding-left: 15%;
    padding-right: 15%;
}

.col-left {
    width: 30%; 
}

.col-right {
    width: 70%; 
}